.projectLanding::before {    
  content: "";
  background-image: url("./assets/ourprojects.webp");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  
 
}
